
<div style="background-color:#ecf0f5;">
    <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field> -->
      
 <div class="box" >
  <mat-table [dataSource]="ManagerData" matSort >
    
     <ng-container matColumnDef="S No">

        <mat-header-cell *matHeaderCellDef><b>S No</b></mat-header-cell>
        <mat-cell *matCellDef="let user; let i = index;"> {{i+1}} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="FirstName" >
      <mat-header-cell *matHeaderCellDef mat-sort-header><b> First Name </b> </mat-header-cell>    
      <mat-cell *matCellDef="let user" >
            <!-- <img src="../../../assets/men.jpg"  style="width:40px;width:40px;margin:5% 5% 5% 5%">  -->
        {{user.users.firstName  | titlecase}}
        </mat-cell>
    </ng-container>


     <ng-container matColumnDef="LastName">
         <mat-header-cell *matHeaderCellDef mat-sort-header> <b>Last Name</b></mat-header-cell>
         <mat-cell *matCellDef="let user">{{user.users.lastName  | titlecase}}</mat-cell>
       </ng-container>

       
    <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b>Email Address</b></mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.users.email}}</mat-cell>
      </ng-container>

       <ng-container matColumnDef="Created At">
            <mat-header-cell *matHeaderCellDef mat-sort-header><b>CreatedAt</b></mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.createdAt}}</mat-cell>
          </ng-container>

 
       <mat-header-row *matHeaderRowDef="displayData">
       </mat-header-row>
       <mat-row *matRowDef="let row; columns: displayData" ></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
   </div>

   <!------------------------------------>
   
</div>

