/* Dialler code*/


.row {
    margin: 0 auto;
    width: 250px;
    clear: both;
    text-align: center;
    font-family: 'Exo';
  }
  
  .digit,
  .digit {
    float: left;
    padding: 10px 30px; /* 10px 30px*/
    width: 80px; 
    font-size: 2rem;
    cursor: pointer;
  }
  
  .sub {
    font-size: 0.8rem;
    color: grey;
  }
  
  .container {
    background-color: white;
    width: 320px;
    padding: 20px;
    margin: 30px auto;
    height: 480px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  #usr {
    font-family: "Exo";
   font-size: 1rem;
   font-weight: bold;
  }
  
  #output {
    font-family: "Exo";
    font-size: 2rem;
    height: 40px;
    font-weight: bold;
    color: #1976d2;
  }
  
  #call {
    display: inline-block;
    background-color: #66bb6a;
    padding: 4px 30px;
    margin: 10px;
    color: white;
    border-radius: 4px;
    float: left;
    cursor: pointer;
  }
  
  .botrow {
    margin: 0  auto;
    margin-left: 5%;
    width: 320px; 
    clear: both;
    text-align: center;
    font-family: 'Exo';
  }
  
  .digit:active,
  .dig:active {
    background-color: #e6e6e6;
  }
  
  #call:hover {
    background-color: #81c784;
  }
  
  .dig {
    float: left;
    padding: 10px 25px;
    margin: 10px;
    width: 30px;
    cursor: pointer;
  }