<div style="background-color:#ecf0f5;">
    <div>
        <section class="content-header" style="max-width:50%">
            <h2>
                Excel Upload
                <small>Upload Customer Details</small>
            </h2>
        </section>

        <div class="box">
            <div style="height: 72px;">
                <div class="row" style="margin:0% 0% 0% 0%; padding:1% 1% 1% 1%">

                    <div id="upload_button">
                        <label>
                            <input type="file" (change)="incomingfile($event)" multiple>
                            <span class="btn btn-primary" style="background-color: white;color:black">Select file</span>
                           
                        </label>
                      
                    </div>
                    <button type="submit" class="btn btn-primary"
                        style="margin-left:3%; height: 40px; background-color: white;color:black" (click)="Upload()">Upload</button>
                   
                </div>
                <span style="margin-left:3%"> {{selectedFile}}</span>
            </div>
        </div>
    </div>
    <!--------------------->
    <div *ngIf="ResultDataSuccess.length!=0">
        <section class="content-header" style="max-width:50%">
            <h2>
                Data Saved Successfully
                <!-- <small>Upload Customer Details</small> -->
            </h2>
        </section>

        <div class="box">
            <mat-table [dataSource]="ResultDataSuccess">
                <ng-container matColumnDef="S No">
                    <mat-header-cell *matHeaderCellDef><h6>S No</h6></mat-header-cell>
                    <mat-cell *matCellDef="let user; let i = index;"> {{i+1}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Name" style="margin-left:2%">
                    <mat-header-cell *matHeaderCellDef>
                        <h6>Name</h6>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.Name }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Age">
                    <mat-header-cell *matHeaderCellDef>
                        <h6>Age</h6>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.Age }}</mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="DOB">
                    <mat-header-cell *matHeaderCellDef>
                        <h6>DOB</h6>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.DOB}}</mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="Mobile">
                    <mat-header-cell *matHeaderCellDef>
                        <h6>Mobile</h6>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.Mobile}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Domicile">
                    <mat-header-cell *matHeaderCellDef>
                        <h6>Domicile</h6>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.Domicile}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="City">
                    <mat-header-cell *matHeaderCellDef>
                        <h6>City</h6>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.City}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayData">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: displayData"></mat-row>
            </mat-table>
        </div>
       </div>
        <div *ngIf="ResultDataFailed.length!=0">
        <section class="content-header" style="max-width:50%">
            <h2>
                Duplicate Data
                <!-- <small>Upload Customer Details</small> -->
            </h2>
        </section>

        <div class="box">
            <mat-table [dataSource]="ResultDataFailed">

                <ng-container matColumnDef="S No" style="margin-left:2%">

                    <mat-header-cell *matHeaderCellDef><h6>S No</h6></mat-header-cell>
                    <mat-cell *matCellDef="let user; let i = index;"> {{i+1}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef>
                        <h6>Name</h6>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.Name }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Age">
                    <mat-header-cell *matHeaderCellDef>
                        <h6>Age</h6>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.Age }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="DOB">
                    <mat-header-cell *matHeaderCellDef>
                        <h6>DOB</h6>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.DOB}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Mobile">
                    <mat-header-cell *matHeaderCellDef>
                        <h6>Mobile</h6>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.Mobile}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Domicile">
                    <mat-header-cell *matHeaderCellDef>
                        <h6>Domicile</h6>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.Domicile}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="City">
                    <mat-header-cell *matHeaderCellDef>
                        <h6>City</h6>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.City}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayData">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: displayData"></mat-row>
            </mat-table>
        </div>

    </div>


</div>