body {
  /* background-image: url('../../../../assets/autodial_img-1-01.jpeg');
  background-repeat:no-repeat;
 position: relative;
  background-size: 100%;
  background-position-x: 100%;
  background-position-y: 120%;
  height:100%; 
 opacity: 0.9; */
 
  /* Full height */
  height: 100%; 
  background-image: url('../../../../assets/autodial_img-1-01.jpeg');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  