<div class="mainDiv" style="background-color:#ecf0f5"> 
  <div class="content-wrapper" style="padding: 1.8rem;">
   <div class="content-header row">
   
   </div>
   <div class="content-body">
    <div class="row">
      <div class="col-sm"> 
          <div class="card">
              <div class="card-content" style="background-image: linear-gradient( to right, #008385, #00E7EB );">
                  <div class="media align-items-stretch">
                    <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                      <img src="../../../assets/calendar-with-a-clock-time-tools (2)@2x.png" style="width: 50px;  height: 40px; ">
                    </div>
                      <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                          <h5>Today's Scheduled Calls</h5>
                          <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> 0</h5>
                      </div>
                  </div>
              </div>
          </div> </div>
     <div class="col-sm">
        <div class="card">
            <div class="card-content" style="background-image: linear-gradient( to right, #FF425C, #FF7588 );">
                <div class="media align-items-stretch">
                    <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                      <img src="../../../assets/call-back@2x.png" style="width: 50px;  height: 40px;">
                    
                    </div>
                    <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                        <h5>Call Attended</h5>
                        <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> 0</h5>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <div class="col-sm">
        <div class="card">
            <div class="card-content" style="background-image: linear-gradient( to right, #FF864A, #FFA87D );">
                <div class="media align-items-stretch">
                    <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                      <img src="../../assets/call-back@2x.png" style="width: 50px;  height: 40px;">
                    </div>
                    <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                        <h5>Manual Dial</h5>
                        <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> 0</h5>
                    </div>
                </div>
            </div>
        </div> </div>
     <div class="col-sm"> 
        <div class="card">
            <div class="card-content" style="background-image: linear-gradient( to right, #11A578, #32EAB2 );">
                <div class="media align-items-stretch">
                  <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                    <img src="../../../assets/campaign1.png" style="width: 50px;  height: 40px;">
                  </div>
                    <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                        <h5>Today's Campaign</h5>
                        <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> </h5>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
    
    <div class="row match-height" style="margin-top:1%">
    
    <div  class="col-xl-8 col-lg-12">
      <div class="card" style="height: 402px;">
        <div class="card-header border-0" >
            <h4 class="card-title" style="font-weight:normal"> Active Call Status</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content">
            <div  class="table-responsive  position-relative ps ps--active-y">
                <table class="table mb-0">
                    <!-- <thead>
                        <tr>
                            <th>Call Type</th>
                            <th>Call Value</th>
                            <th>Call status rate</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        <tr>
                            <td>Call Attended</td>
                            <td>{{ ActiveCallStatus.totalCalls }}</td>
                            <td class="text-center font-small-2">100% 
                            <div class="progress progress-sm mt-1 mb-0">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 100%;background-color: #16D39A!important;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Successful Calls</td>
                            <td>{{ ActiveCallStatus.successfulCalls }}</td>
                            <td class="text-center font-small-2">{{ActiveCallStatusPercentage.successfulCalls | number : '1.2-2' }}% 
                            <div class="progress progress-sm mt-1 mb-0">
                                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="ActiveCallStatusPercentage.successfulCalls" style="background-color: #16D39A!important;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td>UnsuccessFul Calls</td>
                            <td>{{ ActiveCallStatus.unsuccessfulCalls }}</td>
                            <td class="text-center font-small-2">{{ActiveCallStatusPercentage.unsuccessfulCalls | number : '1.2-2' }}% 
                            <div class="progress progress-sm mt-1 mb-0">
                              <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="ActiveCallStatusPercentage.unsuccessfulCalls" style="background-color: #FFA87D!important; " aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td>No Answer</td>
                            <td> {{ ActiveCallStatus.noAnswer }}</td>
                            <td class="text-center font-small-2">{{ActiveCallStatusPercentage.noAnswer | number : '1.2-2' }}% 
                            <div class="progress progress-sm mt-1 mb-0">
                                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="ActiveCallStatusPercentage.noAnswer" style="background-color: #ffc107!important;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Call Busy</td>
                            <td>{{ ActiveCallStatus.callBusy }}</td>
                            <td class="text-center font-small-2">{{ActiveCallStatusPercentage.callBusy | number : '1.2-2' }}% 
                            <div class="progress progress-sm mt-1 mb-0">
                              <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="ActiveCallStatusPercentage.callBusy" style="background-color: #FFA87D!important; " aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card" style="width:100%; height:402px">
            <div class="card-header" style="background-color: none;">
                <h4 class="card-title" style="font-weight:normal">Call Status</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
           
                <!-- <div class="table-responsive">
                    <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default" style="font-size: 1rem; font-weight: 400;  line-height: 1.45;">
                        <thead>
                            <tr>
                                <th>SKU</th>
                                <th>Status</th>
                                <th>Call</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-truncate">Call Attended</td>
                                <td class="text-truncate"><span class="badge badge-success"></span></td>
                                <td class="text-truncate">27</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">Call Disconnected</td>
                                <td class="text-truncate"><span class="badge badge-warning"></span></td>
                                <td class="text-truncate">06</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">Call answered</td>
                                <td class="text-truncate"><span class="badge badge-success"></span></td>
                                <td class="text-truncate">15</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">Call Unanswered</td>

                                <td class="text-truncate"><span class="badge badge-success"></span></td>
                                <td class="text-truncate">7</td>
                            </tr>
                    
                        </tbody>
                    </table>
                </div> -->
            </div>
        </div>
    </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------->
    <div class="row" style="margin-top:1%">
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body text-left w-100">
                                <h3 class="primary">0 hours</h3>
                                <span>Active Time</span>
                            </div>
                            <div class="media-right media-middle">
                                <i class="icon-user-follow primary font-large-2 float-right"></i>
                            </div>
                        </div>
                        <div class="progress progress-sm mt-1 mb-0">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body text-left w-100">
                                <h3 class="danger">0 Hours</h3>
                                <span>Login Time</span>
                            </div>
                            <div class="media-right media-middle">
                                <i class="icon-social-dropbox danger font-large-2 float-right"></i>
                            </div>                        
                        </div>
                        <div class="progress progress-sm mt-1 mb-0">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body text-left w-100">
                                <h3 class="success">0 Hours</h3>
                                <span>Talk Time</span>
                            </div>
                            <div class="media-right media-middle">
                                <!-- <i class="icon-layers success font-large-2 float-right"></i> -->
                                <mat-icon style="color:#16D39A">phone_in_talk</mat-icon>
                            </div>                        
                        </div>
                        <div class="progress progress-sm mt-1 mb-0">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body text-left w-100">
                                <h3 class="warning">0 Hours</h3>
                                <span>Waiting Time</span>
                            </div>
                            <div class="media-right media-middle">
                                <!-- <i class="icon-globe warning font-large-2 float-right"></i> -->
                                <mat-icon style="color: #FFA87D;">timelapse</mat-icon>
                            </div>                        
                        </div>
                        <div class="progress progress-sm mt-1 mb-0">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------->
    <!-- <div class="row match-height" style="margin-top:1%">
        <div  class="col-xl-4 col-lg-12">
            <div class="card" style="width:100%; height:402px">
                <div class="card-header">
                  <h4 class="card-title" style="font-family: sans-serif; font-weight: none; color: gray;">Number of Scheduled Call Being Placed</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                      <ul class="list-inline mb-0">
                          <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                          <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      </ul>
                  </div>
              </div>
              
            </div>  
      </div>
      <div  class="col-xl-4 col-lg-12">
          <div class="card" style="width:100%; height:402px">
              <div class="card-header">
                  <h4 class="card-title" style="font-family: sans-serif; font-weight: none; color: gray;">Campaign Running Today</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                      <ul class="list-inline mb-0">
                          <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                          <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      </ul>
                  </div>
              </div>
            
            </div>  
      </div>
      <div  class="col-xl-4 col-lg-12">
        <div class="card" style="width:100%; height:402px;">
            <div class="card-header">
                <h4 class="card-title" style="font-family: sans-serif; font-weight: none; color: gray;">Extra field</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
          </div>  
    </div>
      </div> -->
   
   </div>
  
  </div>
 
 </div>
