
<head>
  
  <script type="text/javascript" src="https://cdn.plivo.com/sdk/browser/v2/plivo.min.js"></script>
 
</head>
<body >

<img src="../../../assets/Moreyeahs (2).png" height="100px" />
<form action="javascript:makeCall()">
  <h2>Enter the phone number to call </h2><input type="text" name="number" [(ngModel)]="Mobile.number" id="number"/>
  <input type="submit" value="Call" (click)="makeCall()"/>
</form>

<button (click)="OnCallReceive()">Accept Call </button>
<button (click)="OnCallReject()">Reject Call </button>

<button (click)="login(shubham125559174721784, 12345)">Login plivo call</button>
<button (click)="logOut()">LogOut</button>

<button (click)="HangUp()">Hangup</button>


</body>
