<mat-toolbar >
    <mat-toolbar-row>
      <mat-list-item >
      <button  mat-flat-button id="btn" [routerLink]="['/agent/call/dialler']"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}">
        <mat-icon>group</mat-icon>
        Dialler 
      </button>
    </mat-list-item>
  
    <mat-list-item >
      <button  mat-flat-button id="btn" [routerLink]="['/agent/call/phoneBook']"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}">
        <mat-icon>group</mat-icon>
        Caller
      </button>
    </mat-list-item>

  
    </mat-toolbar-row>
  
  </mat-toolbar>
<router-outlet></router-outlet>