

<script type="text/javascript" src="https://cdn.plivo.com/sdk/browser/v2/plivo.min.js"></script>
<!--floating header-->
<div class="floating-header-div">
<mat-toolbar id="mainToolbar" color="primary" class="mat-elevation-z6 tbar">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">menu</mat-icon>
  <h4 style="margin-left:1%"> Auto Dialer </h4>
  <span class="toolbar-spacer"></span>
  <!-- <mat-menu #rootMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="subMenu">Power</button>
      <button mat-menu-item>System settings</button>
    </mat-menu>
    
    <mat-menu #subMenu="matMenu">
      <button mat-menu-item>Shut down</button>
      <button mat-menu-item>Restart</button>
      <button mat-menu-item>Hibernate</button>
    </mat-menu>
    
    <button mat-icon-button [matMenuTriggerFor]="rootMenu">
      <mat-icon>more_vert</mat-icon>
    </button> -->
    <button *ngIf="live" mat-button style="margin-top:-60px">
      <a class="ringring"></a>
       <a class="circle"></a> 
  </button>  
  <button mat-button [matMenuTriggerFor]="afterMenu">{{status | titlecase }}</button>
 <mat-menu #afterMenu="matMenu" xPosition="after"> 
  <a href='http://localhost:4200/agent/active'> <button mat-menu-item>Active</button> </a><!---"changeStatus('active')"-->

   <!-- <button mat-menu-item (click)="changeStatus('callback')">Callback</button> -->
   <a href='http://localhost:4200/agent/manualdial'> <button mat-menu-item >Manual Dial</button></a> <!------changeStatus('manual dial')------->
   <button mat-menu-item (click)="changeStatus('break')">Break</button>
   
   <!-- <button mat-menu-item (click)="changeStatus('training')">Training</button>
   <button mat-menu-item (click)="changeStatus('meeting with customer')">Meeting With Customer</button> -->
 </mat-menu>
 <mat-icon  class="toolbar-icon" matBadge="8" matBadgePosition="after" matBadgeColor="warn" style="margin:1%"> email</mat-icon>
  <mat-icon [matMenuTriggerFor]="notification" class="toolbar-icon" matBadge="8" matBadgePosition="after" matBadgeColor="accent" style="margin:1%">notifications</mat-icon>
 
  <img  [matMenuTriggerFor]="menu" src="../../assets/men.jpg" style="width:40px; height:40px;border-radius: 50%;margin:1%">

    <mat-menu id="notification" #notification="matMenu" style="max-height:500px;">
    <img src="../../assets/men.jpg" style="width:50px;height:50px; border-radius: 50%"> Luv want to be friend with you.   
    </mat-menu>  
  <button mat-icon-button>
      <mat-icon (click)="sideNav.toggle()">apps</mat-icon>
    </button>
  
    <mat-menu #menu="matMenu">
      <button id="profile" mat-menu-item>
          <mat-icon>person</mat-icon>
        <span>My Profile</span>
      </button>
      
      <button id="profile" mat-menu-item >
          <mat-icon>feedback</mat-icon>
        <span>Feedback</span>
      </button>
      <button id="profile" mat-menu-item >
          <mat-icon> live_help</mat-icon>
        <span>Help</span>
      </button>
      <button id="profile" mat-menu-item >
          <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button id="profile" mat-menu-item (click)="logOut()">
        <!-- <mat-icon>exit_to_app</mat-icon> -->
        <mat-icon>power_settings_new</mat-icon>
        <span>Log Out</span>
      </button>

  </mat-menu>
</mat-toolbar>
<div *ngIf = "showLoadingindicator"> Loading...</div>
<!-- <md-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></md-progress-bar> -->
</div>

<mat-sidenav-container id="sidenavContainer" fullscreen style="margin-top:50px">
  <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened >
    <mat-list id="menus" >
      <mat-card style="font:normal">
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>
          <mat-card-title>{{userName}}</mat-card-title>
          <mat-card-subtitle style="text-align: center">Agent</mat-card-subtitle>

        </mat-card-header>
        <hr>
      </mat-card>
      <!-- <mat-list-item>
        
        <button class="menu-item" mat-flat-button id="btn" [routerLink]="['/agent/calendar']" id="btn"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}">
          <mat-icon>date_range</mat-icon>
          Calendar
        </button>
      </mat-list-item> -->

      <mat-list-item >
        <button class="menu-item" id="btn" mat-flat-button routerLink="/agent/agentDashboard"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item >

   
      <a href='http://localhost:4200/agent/manualdial'> 
      <mat-list-item>
         <button  id="btn"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}"
            class="menu-item" mat-flat-button>
            <mat-icon> call</mat-icon>
            Calls
          </button>
  
        </mat-list-item>       </a>

      <!-- <mat-list-item>
        <button class="menu-item" mat-flat-button id="btn" (click)="viewCampaign()">
          <mat-icon>list</mat-icon>
          View Assigned Campaign
        </button>
      </mat-list-item> -->

      <mat-list-item>
        <button class="menu-item" id="btn" mat-flat-button routerLink="/agent/scheduledCalls"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}">
          <mat-icon>schedule</mat-icon>
          Scheduled Calls
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" id="btn" mat-flat-button routerLink="/agent/myNotes"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}">
          <mat-icon>note</mat-icon>
          My Notes
        </button>
      </mat-list-item>

      <!-- <mat-list-item>
        <button class="menu-item" id="btn" mat-flat-button routerLink="/agent/feedback"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}">
          <mat-icon>feedback</mat-icon>
           FeedBack
        </button>
      </mat-list-item> -->

      <!-- <mat-list-item>
        <button class="menu-item" mat-flat-button id="btn">
          <mat-icon>shuffle</mat-icon>
          Predictive Dialer
        </button>
      </mat-list-item> -->

      <!-- <mat-list-item>
        <button class="menu-item" mat-flat-button id="btn" mat-flat-button routerLink="/agent/setting"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}"> 
          <mat-icon>settings_application</mat-icon>
          Settings
        </button>
      </mat-list-item> -->
      <!-- <mat-list-item>
        <button class="menu-item" mat-flat-button id="btn">
          <mat-icon>feedback</mat-icon>
          FeedBack
        </button>
      </mat-list-item> -->
    </mat-list> 
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <!------------------------------------------------------------------->
    <mat-drawer-container class="example-container">
      <mat-drawer #sideNav mode="side" opened="false" [position]="nav_position">
        <!--- Drawer content -->
        Drawer data
      </mat-drawer>
      <mat-drawer-content>
        <!-- <button (click)="sideNav.toggle()" mat-button>Toggle SideNav</button> -->
        <!--------------------------->
        <router-outlet></router-outlet>
        <!-------------------------->
      </mat-drawer-content>
    </mat-drawer-container>
    <!------------------------------------------------------------------->

  </mat-sidenav-content>
</mat-sidenav-container>




<!-------------------------------Working in place of mat-drawer------------------------------------>
<!-- <mat-sidenav-container class="example-container" >
            <mat-sidenav #sidenav [mode]="mode.value" position="end">
              <p><button mat-button (click)="sidenav.toggle()">Toggle1</button></p>
              <p>
                  <mat-radio-group class="example-radio-group" >
                    <label>Mode:</label>
                    <mat-radio-button value="over">Over</mat-radio-button>
                    <mat-radio-button value="side">Side</mat-radio-button>
                    <mat-radio-button value="push">Push</mat-radio-button>
                  </mat-radio-group>
                </p>
            </mat-sidenav>
          
            <mat-sidenav-content>
              <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
              
              <router-outlet></router-outlet>
            </mat-sidenav-content>
          </mat-sidenav-container> -->