body{
  font-family: 'Open Sans',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
}

/* shop kirana */
.card{
  box-shadow: none!important;
}

.custom-control-label::before{
  height:1.5rem;
  width:1.5rem;
}

.custom-control-label::after{
  height:1.5rem;
  width:1.5rem;
}

/*Number of Scheduled call*/
/* .media{
  padding: 1.25rem;
  margin-top: 0;
} */

/* Widget*/
.card-content{
  height:90px;
}

.col-xl-3 {
    webkit-box-flex: 0;
    webkit-flex: 0 0 25%;
    moz-box-flex: 0;
    ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    min-width: 1200px
}

.col-lg-6 {
    webkit-box-flex: 0;
    webkit-flex: 0 0 50%;
    moz-box-flex: 0;
    ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 992px
}

.col-12 {
    webkit-box-flex: 0;
    webkit-flex: 0 0 100%;
    moz-box-flex: 0;
    ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


.bg-primary.bg-darken-2, .btn-primary.btn-darken-2 {
    background-color: #008385!important;
}

.p-2 {
    padding: 1.5rem!important;
}
.white {
    color: #FFF!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.h5, h5 {
    font-size: 1.14rem;
}

.gradient {
  background-image:
    linear-gradient(
      to right, 
      #008385, #05787a
    );
}


/*Calendar*/

.app-top {
  margin: 0 0 3em;
}

.app-calendar {
  margin: 0 auto;
  max-width: 900px;
}


/* Dialler code*/


/* .row {
  margin: 0 auto;
  width: 250px;
  clear: both;
  text-align: center;
  font-family: 'Exo';
} */

.card-header{
  border-bottom:none; /*  //remove border of header */
      padding: 1.5rem;
	    background-color: #FFF;
}

.digit,
.digit {
  float: left;
  padding: 10px 30px; /* 10px 30px*/
  width: 80px; 
  font-size: 2rem;
  cursor: pointer;
}

.sub {
  font-size: 0.8rem;
  color: grey;
}

.container {
  background-color: white;
  width: 320px;
  padding: 20px;
  margin: 30px auto;
  height: 480px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#usr {
  font-family: "Exo";
 font-size: 1rem;
 font-weight: bold;
}

#output {
  font-family: "Exo";
  font-size: 2rem;
  height: 40px;
  font-weight: bold;
  color: #1976d2;
}

#call {
  display: inline-block;
  background-color: #66bb6a;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

.botrow {
  margin: 0  auto;
  margin-left: 5%;
  width: 320px; 
  clear: both;
  text-align: center;
  font-family: 'Exo';
}

.digit:active,
.dig:active {
  background-color: #e6e6e6;
}

#call:hover {
  background-color: #81c784;
}

.dig {
  float: left;
  padding: 10px 25px;
  margin: 10px;
  width: 30px;
  cursor: pointer;
}
/*-------------------------*/

/* 
#card{
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  max-width:260px;
  max-height: 300px;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
} */
