<mat-toolbar >
  <mat-toolbar-row>
    <!-- <span>Employees</span>
    <span class="example-spacer"></span> -->
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->

    <mat-list-item >
    <button  mat-flat-button id="btn" [routerLink]="['/admin/viewEmployee/AllManager']"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}">
      <mat-icon>group</mat-icon>
      Manager
    </button>
  </mat-list-item>

  <mat-list-item >
    <button  mat-flat-button id="btn" [routerLink]="['/admin/viewEmployee/AllAgents']"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}">
      <mat-icon>group</mat-icon>
      Agent
    </button>
  </mat-list-item>

  <!-- <mat-list-item >
    <button  mat-flat-button id="btn" [routerLink]="['/admin/viewEmployee/AgentAssignment']"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}">
      <mat-icon>assignment</mat-icon>
      Agent Assignment Module
    </button>
  </mat-list-item> -->

  <!-- <mat-list-item>
    <button  mat-flat-button id="btn" [routerLink]="['/admin/viewEmployee/edit']"  routerLinkActive="active" [ngStyle]="routerLink?{'background-color': 'mediumpurple'} : {'background-color': 'none'}">
     
      Edit Assigned Agent
    </button>
  </mat-list-item> -->

  </mat-toolbar-row>

  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
      <div class="col-sm-8" style="background-color:lavenderblush;">.col-sm-8</div>
    </div>
  </div> -->
</mat-toolbar>
<router-outlet></router-outlet>