<div  >
          
    <div class="card" style="background-color:none; margin-left:5%">
      <div class="card-body">
        <h4>Be Ready connecting with ...</h4>
        <br>
        <h2 class="card-title">{{CallerName }}</h2>
        <br>
        <h4 class="card-subtitle mb-2 text-muted">{{CallerNumber}}</h4>
      
        <div style="margin-top:10%;margin-bottom:10% ">
          <i class="Phone is-animating" style="margin-left:25%"></i>
        </div> 
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>
</div>