<div class="container" style="margin-top: 10%">

  <mat-toolbar>
    <div class="container-fluid">
      <span> Edit Campaigns Details</span>
    </div>
  </mat-toolbar>
  <mat-card class="my-card" style="max-height:60%">

    <mat-card-content class="z-depth center" flex="50">
      <form>

        <mat-form-field>
          <mat-label>Campaigns Name</mat-label>
          <input matInput placeholder="Campaigns Name" style="max-width: 100px" [(ngModel)]="campingname"
            name="campingname" [value]="" required>


        </mat-form-field>

        <mat-form-field style="margin-left:20%">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="startdate" name="startdate">
          <mat-datepicker-toggle matSuffix [for]="picker" (click)="selectDate(startdate)"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br>


        <mat-form-field>
          <mat-select placeholder="Assign To Manager" name="assignedto" [(ngModel)]="assignedto">
            <mat-option *ngFor="let role of ManagerData" [value]="role.id">{{ role.email }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!--(selectionChange)="educationLevelChangeAction(education_level)"-->

        <mat-form-field style="margin-left:20%">
          <mat-label>Select Campaign Members</mat-label>
          <mat-select multiple name="customerId" [(ngModel)]="customerId">
            <mat-option *ngFor="let customer of CustomerData" [value]="customer._id">{{customer.Name}}</mat-option>
          </mat-select>
        </mat-form-field><br>


        <mat-card-content style="padding:1%">
          <form class="my-form">
            <!--FORM FIELDS-->
          </form>
        </mat-card-content>
        <mat-card-actions style=" margin:auto;display:block;padding-left: 14%;">
          <button mat-raised-button (click)="Edit()" color="primary" style="padding:0px 35px 0px 35px">Edit</button>
          <button mat-raised-button (click)="Cancel()" color="bg-danger"
            style="margin-left:12%; padding:0px 35px 0px 35px">Cancel</button>
        </mat-card-actions>

      </form>
    </mat-card-content>

    <mat-card-actions>
      <!-- REGISTER BUTTON -->
    </mat-card-actions>
  </mat-card>

</div>