<div class="mainDiv" style="background-color:#ecf0f5"> 
    <div class="content-wrapper" style="padding: 1.8rem;">
     <div class="content-header row">
     
     </div>
     <div class="content-body">
      <div class="row">
        <div class="col-sm"> 
            <div class="card">
                <div class="card-content" style="background-image: linear-gradient( to right, #008385, #00E7EB );">
                    <div class="media align-items-stretch">
                      <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                        <img src="../../../assets/calendar-with-a-clock-time-tools (2)@2x.png" style="width: 50px;  height: 40px; ">
                      </div>
                        <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                            <h5>Today's Scheduled Calls</h5>
                            <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> {{TodayScheduledCall}}</h5>
                        </div>
                    </div>
                </div>
            </div> </div>
       <div class="col-sm">
          <div class="card">
              <div class="card-content" style="background-image: linear-gradient( to right, #FF425C, #FF7588 );">
                  <div class="media align-items-stretch">
                      <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                        <img src="../../../assets/call-back@2x.png" style="width: 50px;  height: 40px;">
                      
                      </div>
                      <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                          <h5>Call Attended</h5>
                          <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> {{callAttended}}</h5>
                      </div>
                  </div>
              </div>
          </div>
       </div>
       <div class="col-sm">
          <div class="card">
              <div class="card-content" style="background-image: linear-gradient( to right, #FF864A, #FFA87D );">
                  <div class="media align-items-stretch">
                      <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                        <img src="../../assets/call-back@2x.png" style="width: 50px;  height: 40px;">
                      </div>
                      <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                          <h5>Agent Active On Call</h5>
                          <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> {{agentActiveOnCall}}</h5>
                      </div>
                  </div>
              </div>
          </div> </div>
       <div class="col-sm"> 
          <div class="card">
              <div class="card-content" style="background-image: linear-gradient( to right, #11A578, #32EAB2 );">
                  <div class="media align-items-stretch">
                    <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                      <img src="../../assets/call-back@2x.png" style="width: 50px;  height: 40px;">
                    </div>
                      <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                          <h5>Agent Waiting</h5>
                          <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> {{agentWatitingForCall}}</h5>
                      </div>
                  </div>
              </div>
          </div>
         </div>
      </div>
      
      <div class="row match-height" style="margin-top:1%">
      
      <div  class="col-xl-3 col-lg-12">
         <div class="card" style="width:100%;height:100% ;">
          <!-- <div class="card-header" style="background-color: none;">
              <h4 class="card-title" style="font-weight:normal">Call </h4>
          </div> -->
          <canvas id="tryBar" width="400" height="400"></canvas>
                </div>
        
      </div>
      <div  class="col-xl-3 col-lg-12">
          <div class="card" style="width:100%;height:100% ;">
              <canvas id="barGraph" width="400" height="400"></canvas>
                    </div>
      </div>
      <div class="col-xl-4 col-lg-12">
              <div class="card" style="height: 402px;">
                  <div class="card-header" style="background-color: white;">
                      <h4 class="card-title" style="font-weight:normal">Campaings </h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                      <div class="heading-elements">
                          <ul class="list-inline mb-0">
                              <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="card-content">
                      <div class="table-responsive">
                          <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default" style="font-size: 1rem; font-weight: 400;  line-height: 1.45;">
                              <thead>
        
                              </thead>
                              <tbody>
                                  <tr *ngIf="RunningCampaign.name">
                                      <td class="text-truncate">Campaign Running now: <h5 style="color:hotpink"><b>{{RunningCampaign.name | titlecase}} </b> </h5></td>
                                      <td class="text-truncate"> Total Customers: <h5 style="color:green"><b>{{RunningCampaign.customers}} </b></h5></td>
                                  </tr>
                                  <tr>
                                      <td>
                                      <span>
                                              -- contacts called (in this Campaign)
                                      </span><br>
                                      <span>
                                              -- contacts remaining (in this Campaign)
                                      </span>
                                      </td>
                                      <!-- <td class="text-truncate">On the Phone</td>
                                      <td class="text-truncate">10</td> -->
                                  </tr>
                                  <tr>
                                      <td class="text-truncate">Campaign in Queue </td>
                                      <td class="text-truncate"> <h5 style="color:green"><b> {{QueueCount}} </b></h5></td>
                                  </tr>
                                  <tr *ngFor="let data of campaignInQueue;">
                                      <td class="text-truncate">{{data.campaignName | titlecase}}: queueStatus({{data.queueStatus}}) + contacts: {{data.customers}} </td>
                                      <td class="text-truncate"></td>
                                  </tr>
                                  
                          
                              </tbody>
                          </table>
                      </div>
  
                  </div>
            </div>
      </div>
      <div class="col-xl-2 col-lg-12">
              <div class="card" style="width:100%; height:402px">
                  <div class="card-header" style="background-color: white;">
                      <h4 class="card-title" style="font-weight:normal">Agent Status</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                      <div class="heading-elements">
                          <ul class="list-inline mb-0">
                              <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="card-content">
      
                      <div class="table-responsive" *ngIf="AgentStatus">
                          <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default" style="font-size: 1rem; font-weight: 400;  line-height: 1.45;">
                              <thead>
        
                              </thead>
                              <tbody>
                                  <tr>
                                      <td class="text-truncate">Active</td>
                                      <td class="text-truncate">{{AgentStatus.active}}</td>
                                  </tr>
                                  <!-- <tr>
                                       <td class="text-truncate">On the Phone</td>
                                      <td class="text-truncate">10</td>
                                  </tr> -->
                                  <tr>
                                      <td class="text-truncate">Manual Dial</td>
                                      <td class="text-truncate">{{AgentStatus.manual}}</td>
                                  </tr>
                                  <tr>
                                      <td class="text-truncate">Callback</td>
                                      <td class="text-truncate">{{AgentStatus.callback}}</td>
                                  </tr>
                                  <tr>
                                      <td class="text-truncate">Break</td>
                                      <td class="text-truncate">{{AgentStatus.Break}}</td>
                                  </tr>
                                  <tr>
                                       <td class="text-truncate">Training</td>
                                      <td class="text-truncate">0</td>
                                  </tr>
                                  <tr>
                                       <td class="text-truncate">Meeting with Customer</td>
                                         <td class="text-truncate">0</td>
                                   </tr>
                          
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
      <!----------------------------------------------------------------------------------------------------------------------------->
      <!-- <div class="row match-height" style="margin-top:1%">
          <div  class="col-xl-4 col-lg-12">
              <div class="card" style="width:100%; height:402px">
                  <div class="card-header">
                    <h4 class="card-title" style="font-family: sans-serif; font-weight: none; color: gray;">Number of Scheduled Call Being Placed</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                
              </div>  
        </div>
        <div  class="col-xl-4 col-lg-12">
            <div class="card" style="width:100%; height:402px">
                <div class="card-header">
                    <h4 class="card-title" style="font-family: sans-serif; font-weight: none; color: gray;">Campaign Running Today</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
              
              </div>  
        </div>
        <div  class="col-xl-4 col-lg-12">
          <div class="card" style="width:100%; height:402px;">
              <div class="card-header">
                  <h4 class="card-title" style="font-family: sans-serif; font-weight: none; color: gray;">Extra field</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                      <ul class="list-inline mb-0">
                          <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                          <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      </ul>
                  </div>
              </div>
            </div>  
      </div>
        </div> -->
     
     </div>
    
    </div>
   
   </div>
  