/* button{
 margin:2% 2% 2% 2%;
}

  .actions {
    justify-content: flex-end;
  }
  
  .container {
    height: 100%;
  }

  .active-list-item {
    color: #3F51B5 !important; 
  } */

  table{
    width:100%
  }