
<div class="mainDiv" style="background-color:#ecf0f5"> 
  <div class="content-wrapper" style="padding: 1.8rem;">
   <div class="content-header row">
   
   </div>
   <div class="content-body">
    <div class="row">
      <div class="col-sm"> 
          <div class="card">
              <div class="card-content" style="background-image: linear-gradient( to right,#00cc6a, #4cdb96);">
                  <div class="media align-items-stretch">
                    <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                        <img src="../../assets/right.png" style="width: 50px;  height: 40px;">
                    </div>
                      <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                          <h5>Successfully Call Placed</h5>
                          <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i>{{successfullCall}}</h5>
                      </div>
                  </div>
              </div>
          </div> </div>
     <div class="col-sm">
        <div class="card">
            <div class="card-content" style="background-image: linear-gradient( to right, #FF425C, #FF7588 );">
                <div class="media align-items-stretch">
                    <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                      <img src="../../assets/ringing.png" style="width: 50px;  height: 40px; transform: rotate(10deg);">
                    
                    </div>
                    <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                        <h5>Agent Active on Call</h5>
                        <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> {{agentOnCall}}</h5>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <div class="col-sm">
        <div class="card">
            <div class="card-content" style="background-image: linear-gradient( to right, #FF864A, #FFA87D );">
                <div class="media align-items-stretch">
                    <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                      <img src="../../assets/call-back@2x.png" style="width: 50px;  height: 40px;">
                    </div>
                    <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                        <h5>Agent On Call Back</h5>
                        <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> {{callback}}</h5>
                    </div>
                </div>
            </div>
        </div> </div>
     <div class="col-sm"> 
        <div class="card">
            <div class="card-content" style="background-image: linear-gradient( to right, #11A578, #32EAB2 );">
                <div class="media align-items-stretch">
                  <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                    <img src="../../assets/call-back@2x.png" style="width: 50px;  height: 40px;">
                  </div>
                    <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                        <h5>Agent on Break</h5>
                        <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> {{ agentOnBreak}}</h5>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
    <div class= "row" style="margin-top:1%">
        <div class="col-sm"> 
            <div class="card">
                <div class="card-content" style="background-image: linear-gradient( to right,  #008385, #00E7EB  );">
                    <div class="media align-items-stretch">
                      <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                          <img src="../../assets/—Pngtree—agents_1261867@2x.png" style="width: 50px;  height: 40px;">                      
                      </div>
                        <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >                       
                            <h5>Agents Waiting For Call</h5>
                            <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> {{agentWaitingForCall}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-content" style="background-image: linear-gradient( to right,#FF6347, #FF917E);"> 
                    <div class="media align-items-stretch">
                      <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                        <img src="../../assets/phone-hang-up@2x.png" style="width: 50px;  height: 40px;">
                      </div>
                        <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                            <h5>Call Hangup By Agent</h5>
                            <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> {{CallDisconnedtedByAgent}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-content" style="background-image: linear-gradient( to right, #1AB0C3, #5AD9E9 );">
                    <div class="media align-items-stretch">
                        <div style="width:100px; height:90px">
                          <i class="material-icons" style="font-size:58px;padding:15% 15% 15% 15%;color:white">group</i>
                        </div>
                        <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >
                            <h5> Call Hangup by Customer</h5>
                            <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> {{CallDisconnedtedByCustomer}}</h5>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-content" style="background-image: linear-gradient( to right,#ef4f4f, #f37b7b  );">
                    <div class="media align-items-stretch">
                      <div style="width:100px; height:90px; padding: 5% 5% 5% 5%;">
                        <img src="../../assets/calendar-with-a-clock-time-tools (2)@2x.png" style="width: 50px;  height: 40px;">
                      </div>
                        <div style="margin-top: 5%;   margin-left: 2%;    color: white;    font-family: sans-serif;" >                        
                            <h5>Call Failed</h5>
                            <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> {{CallFailed}}</h5>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div class="row match-height" style="margin-top:1%">
      <div  class="col-xl-8 col-lg-12">
          <div class="card" style="width:100%; height:402px">
              <!-- <div class="card-header">
                  <h4 class="card-title" style="font-family: sans-serif; font-weight: none; color: gray;">Call Status</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                      <ul class="list-inline mb-0">
                          <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                          <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      </ul>
                  </div>
              </div> -->

            
              <div class="chart-container" style="position: relative; height:100%; width:100%; padding:2% 2% 2% 2%">    
                  <canvas *ngIf="BarChartlabel" id="doubleBarChart" style="width:100%; height:100% ">{{ BarChart }}</canvas>  
                </div> 
       
          </div>  
    </div>
    <div  class="col-xl-4 col-lg-12">

          
            <div class="card">
                <div class="card-content">
                    <div >
                        <h4 class="card-title" style="font-family: sans-serif; font-weight: none; color: gray;margin: 2% 2% 2% 2%;text-align:center">Agent Status</h4><hr>
                    </div>
                    <div class="card-body sales-growth-chart">
                 
                       <canvas id="canvasDoughnut" class="height-250" style="position: relative;" >{{ DoughnutChart }}</canvas>   
                    </div>
                    
                </div>
    
            </div>
    </div>
    </div>
    <div class="row match-height" style="margin-top:1%">
        <div  class="col-xl-4 col-lg-12">
            <div class="card" style="width:100%; height:402px">
                <div class="card-header" style="background-color: none;">
                    <h4 class="card-title" style="font-weight:normal">Todays Call Status</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content">
             
                    <div class="table-responsive">
                        <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default" style="font-size: 1rem; font-weight: 400;  line-height: 2.45;width: 100%">
                            <thead>
                                <tr>
                                    <!-- <th>SKU</th>
                              
                                    <th>Status</th>
                                    <th>Call</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-truncate">Call Picked Up By Customer</td>
                           
                                    <td class="text-truncate"><span class="badge badge-success"> Successful</span></td>
                                    <td class="text-truncate">{{TodaysuccessfullCall}}</td>
                                </tr>
                                <tr>
                                    <td class="text-truncate">Being Called</td>
                          
                                    <td class="text-truncate"><span class="badge badge-warning">on call</span></td>
                                    <td class="text-truncate">{{customerOnCall}}</td>
                                </tr>
                                <tr>
                                    <td class="text-truncate">Feedback submitted </td>
                              
                                    <td class="text-truncate"><span class="badge badge-success"></span></td>
                                    <td class="text-truncate">{{TodayfeedbackSubmitted}}</td>
                                </tr>
                                <tr>
                                    <td class="text-truncate">Ringing Time out </td>
                              
                                    <td class="text-truncate"><span class="badge badge-warning">call canceled by plivo </span></td>
                                    <td class="text-truncate">{{TodayCallDisconnedtedByPlivo}}</td>
                                </tr>
                                <tr>
                                    <td class="text-truncate"><h5 style="color:red"><b>Call Failed</b></h5> </td>
                    
                                    <td class="text-truncate"><span class="badge badge-success"></span></td>
                                    <td class="text-truncate"><h5 style="color:red"><b>{{TodayCallFailed}}</b></h5></td>
                                </tr>
                        
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
      </div>
      <div  class="col-xl-4 col-lg-12">
        <div class="card" style="height: 402px;">
          <div class="card-header" style="background-color: white;">
              <h4 class="card-title" style="font-weight:normal">Campaings </h4>
              <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
              <div class="heading-elements">
                  <ul class="list-inline mb-0">
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="card-content">
              <div class="table-responsive">
                  <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default" style="font-size: 1rem; font-weight: 400;  line-height: 1.45;width:100%">
                      <thead>

                      </thead>
                      <tbody>
                          <tr *ngIf="RunningCampaign.name">
                              <td class="text-truncate">Campaign Running now: <h5 style="color:hotpink"><b>{{RunningCampaign.name | titlecase}} </b> </h5></td>
                              <td class="text-truncate"> Total Customers: <h5 style="color:green"><b>{{RunningCampaign.customers}} </b></h5></td>
                          </tr>

                          <tr>
                              <td class="text-truncate">Campaign in Queue </td>
                              <td class="text-truncate"> <h5 style="color:green"><b> {{QueueCount}} </b></h5></td>
                          </tr>
                                    
                      </tbody>
                  </table>
                  <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default" style="font-size: 1rem; font-weight: 400;  line-height: 1.45;width:100%">
                    <thead>
                      <tr>
                         <th>Campaign Name</th> 
                         <th>Queue Status</th> 
                         <th>Total Customers</th> 
                        <!-- <th>Status</th>
                        <th>Call</th> -->
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of campaignInQueue;">
                        <td class="text-truncate">{{data.campaignName | titlecase}} </td>
                        <td class="text-truncate">{{data.queueStatus}}</td>
                        <td class="text-truncate">{{data.customers}}</td>
                    </tr>
                                  
                    </tbody>
                </table>
              </div>

          </div>
    </div>

    </div>
      <div  class="col-xl-4 col-lg-12">
        <div class="card" style="width:100%; height:402px">
          <div class="card-header" style="background-color: white;">
              <h4 class="card-title" style="font-weight:normal;text-align: center">Running Campaign Status</h4>
              <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
              <div class="heading-elements">
                  <ul class="list-inline mb-0">
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="card-content">
              <!-- <div class="card-body">
                  <p>Total paid invoices 240, unpaid 150. <span class="float-right"><a href="project-summary.html" target="_blank">Invoice Summary <i class="ft-arrow-right"></i></a></span></p>
              </div> -->
              <div class="table-responsive">
                  <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default" style="font-size: 1rem; font-weight: 400;  line-height: 2.45;width:100%;padding:1% 1% 1% 1%">
                      <thead>
                          <tr>
                              <!-- <th>SKU</th> -->
                              <!-- <th>Invoice#</th> -->
                              <!-- <th>Customer Name</th> -->
                              <!-- <th>Status</th>
                              <th>Call</th> -->
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="text-truncate">Running Campaign Name</td>
                              <!-- <td class="text-truncate"><a href="#">INV-001001</a></td> -->
                              <!-- <td class="text-truncate">Elizabeth W.</td> -->
                              <td class="text-truncate"><span class="badge badge-success">Running</span></td>
                              <td class="text-truncate" ><h5 style="color:green"><b>{{ RunningCampaignDetails.campaignName | titlecase }}</b></h5></td>
                          </tr>
                          <tr>
                              <td class="text-truncate">Campaign Assign to Manager</td>
                              <!-- <td class="text-truncate"><a href="#">INV-01112</a></td> -->
                              <!-- <td class="text-truncate">Doris R.</td> -->
                              <td class="text-truncate"><span class="badge badge-warning"></span></td>
                              <td class="text-truncate">{{ RunningCampaignDetails.manager }}</td>
                          </tr>
                          <tr>
                              <td class="text-truncate">Total Customers</td>
                              <!-- <td class="text-truncate"><a href="#">INV-001012</a></td> -->
                              <!-- <td class="text-truncate">Andrew D.</td> -->
                              <td class="text-truncate"><span class="badge badge-success"></span></td>
                              <td class="text-truncate">{{RunningCampaignDetails.totalCustomer}}</td>
                          </tr>
                          <tr>
                              <td class="text-truncate">Contacts called</td>
                              <td class="text-truncate"><span class="badge badge-success"></span></td>
                              <td class="text-truncate">{{ RunningCampaignDetails.customerCalled}}</td>
                          </tr>
                          <tr>
                            <td class="text-truncate">Contacts remaining </td>
                            <td class="text-truncate"><span class="badge badge-success"></span></td>
                            <td class="text-truncate">{{ RunningCampaignDetails.customerRemaining}}</td>
                        </tr>
                  
                      </tbody>
                  </table>
              </div>
          </div>
      </div> 
      </div>

      </div>
   
   </div>
  
  </div>
 
 </div>
