<!-- <div style="text-align:center;display: flex;justify-content: center;">
    <img src="../../../assets/DeleteIcon.png" style="width:100px; height:100px">
</div> -->
<a href="javascript:void(0)"><mat-icon style="float:right;margin-top:-3%;margin-right:-3%;color:lightgray" (click)="onNoClick()" >clear</mat-icon></a>
<h1 mat-dialog-title style="text-align: center; margin-top:3%;font-weight: normal;">Are you sure?</h1>

<mat-dialog-content style="text-align: center">
        <h6 style="color:grey;margin:4%; font-weight: normal;">{{data.message}}</h6>
</mat-dialog-content>

<mat-dialog-actions style="text-align:center;display: flex;justify-content: center;margin:5%">

    <button mat-button (click)="onNoClick()" class="mat-raised-button" style="width:130px;color:white ;background-color:#a8a8a8">Cancel</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="mat-raised-button mat-primary" style="width:130px; background-color:rgb(221, 107, 85)">{{data.button}}</button>
</mat-dialog-actions>
