
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <div class="container-fluid" >
    <div class="row">
        <div class="col-sm-4" >
            <div class="row">
                <div class="col" style="margin-top: 15%;  margin-left: 20%;">
                <h4 style="color:white">Phone Status: {{phoneStatus}}.. </h4>
                <h4 style="color:white">Call Status: {{callStatus}} </h4>
                
                </div>
                <div class="w-100"></div>
                <div class="col">
     <!--------------------------------------------------------------------------->
     <div class="container" >
      <div class="form-group">
    
        <input type="text" class="form-control" id="output" value="MobileNumber" [(ngModel)]="MobileNumber" placeholder="+91801XXXXXXX" style="text-align:center">
      </div>
    <div class="row" style="margin:0 0 0 0">
      <div class="digit" id="one" (click)="pushNumbers(1)"><h4><b>1</b></h4></div>
      <div class="digit" id="two" (click)="pushNumbers(2)"><h4><b>2</b></h4>
        <div class="sub"><h6>ABC</h6></div>
      </div>
      <div class="digit" id="three" (click)="pushNumbers(3)"><h4><b>3</b></h4>
        <div class="sub"><h6>DEF</h6></div>
      </div>
    </div>
    <div class="row" style="margin:0 0 0 0">
      <div class="digit" id="four" (click)="pushNumbers(4)"><h4><b>4</b></h4>
        <div class="sub"><h6>GHI</h6></div>
      </div>
      <div class="digit" id="five" (click)="pushNumbers(5)"><h4><b>5</b></h4>
        <div class="sub"><h6>JKL</h6></div>
      </div>
      <div class="digit" (click)="pushNumbers(6)"><h4><b>6</b></h4>
        <div class="sub"><h6>MNO</h6></div>
      </div>
    </div>
    <div class="row" style="margin:0 0 0 0">
      <div class="digit" (click)="pushNumbers(7)"><h4><b>7</b></h4>
        <div class="sub"><h6>PQRS</h6></div>
      </div>
      <div class="digit" (click)="pushNumbers(8)"><h4><b>8</b></h4>
        <div class="sub"><h6>TUV</h6></div>
      </div>
      <div class="digit" (click)="pushNumbers(9)"><h4><b>9</b></h4>
        <div class="sub"><h6>WXYZ</h6></div>
      </div>
    </div>
    <div class="row" style="margin:0 0 0 0">
      <div class="digit" (click)="pushNumbers('*')"><h4>*</h4>
      </div>
      <div class="digit" (click)="pushNumbers(0)"><h4><b>0</b></h4>
      </div>
      <div class="digit" (click)="pushNumbers('#')"><h4>#</h4>
      </div>
    </div>
    <div class="botrow"><i class="fa fa-star-o dig" aria-hidden="true"></i>
      <div id="call" (click)="makeCall()"><i class="fa fa-phone" aria-hidden="true" ></i></div>
      <i class="fa fa-long-arrow-left dig" aria-hidden="true" (click)="removeNumber()" style="margin-left:-1%"></i>
    </div>
</div>
     <!--------------------------------------------------------------------------->
      </div>
      </div>
    </div>
      <div class="col-sm-2" style="margin-top:11%">
        <!-- <h4 style="margin-top:20%;color:white"> Call Connecting to ..... +919713246990 </h4> -->
        <div class="row" style="display: grid;  justify-content: center;align-items: center;">
          <div class="col" >
           <h4 style="color:white">Outgoing:</h4>
           <h4 style="color:white">{{phoneNo}}</h4><br>
           <h3 style="color:white"> {{ hours | number : '2.0-0' }} : {{ minutes | number : '2.0-0'}} : {{seconds | number : '2.0-0'}}</h3>
           <div class="row" style="margin-top:25px">
              <div class="col">
              <!-- <img src="../../../../assets/Hangup.png" style="height:50px; width: 50px">  -->
              <img src="../../../../assets/EndCall1.png" style="height:50px; width: 50px" class="cursor" (click)="HangUp()"> 
                  <!-- Hangup -->
              </div>
              <div class="col">
                  <img src="../../../../assets/Microphone.png" style="height:50px; width: 30px" class="cursor">
                  <!-- Microphone -->
              </div>
            </div>
          </div>
         
          <div class="w-100"></div>
          <div class="col"></div>
          
        </div>
      </div>
      <div class="col-sm-6" style=" color:white; margin-top:5%">
        <!------>
        <div  >
          <mat-table [dataSource]="dataSource" matSort >
                <!-- Checkbox Column -->
  <ng-container matColumnDef="select" style="max-width: 50px">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

            <ng-container matColumnDef="CustomerName" >
              <mat-header-cell *matHeaderCellDef mat-sort-header><b> Caller Name </b> </mat-header-cell>    
              <mat-cell *matCellDef="let user" >
                    <!-- <img src="../../../assets/men.jpg"  style="width:40px;width:40px;margin:5% 5% 5% 5%">  -->
                {{user.data.customerName  | titlecase}}
                </mat-cell>
            </ng-container>

             <ng-container matColumnDef="CallBackStartTime">
                 <mat-header-cell *matHeaderCellDef mat-sort-header> <b>Start Time</b></mat-header-cell>
                 <mat-cell *matCellDef="let user">{{user.data.callBackStartTime | date:'short'}}</mat-cell>
               </ng-container>

               <ng-container matColumnDef="CallBackEndTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><b>End Time</b></mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.data.callBackEndTime | date:'h:mm a'}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="CreatedAt">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>Created At</b></mat-header-cell>
                        <mat-cell *matCellDef="let user">{{user.data.createdAt | date:'h:mm a'}}</mat-cell>
                      </ng-container>
    
                      <ng-container matColumnDef="Description">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>Description On Call</b></mat-header-cell>
                        <mat-cell *matCellDef="let user">{{user.data.descrptionOnCall}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="CustomerMobileNo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header><b>Caller No</b></mat-header-cell>
                            <mat-cell *matCellDef="let user">{{user.data.customerMobNo}}</mat-cell>
                          </ng-container>


               <ng-container matColumnDef="Call">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>Call</b></mat-header-cell>
                <mat-cell *matCellDef="let user;let i = index;">
                    <!-- <button mat-icon-button color="primary" (click)="redirectToDetails()">
                        <mat-icon class="mat-18">reorder</mat-icon>
                    </button> -->
                    <button mat-icon-button color="primary" style="color:green;background-color: lightgray"  (click)="redirectToCall(user.data._id, user.data.customerId, user.data.customerName, user.data.customerMobNo)">
                            <!-- <mat-icon class="mat-18">reorder</mat-icon> -->
                            <!-- <mat-icon> call</mat-icon> -->
                            <mat-icon> dialer_sip</mat-icon>                       
                       </button>
                </mat-cell>
              </ng-container>
            
         
               <mat-header-row *matHeaderRowDef="displayedColumns">
               </mat-header-row>
               <mat-row *matRowDef="let row; columns: displayedColumns" ></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
           </div>
 <!------->
      </div>
    </div>
      <!-- draggable div for notes-->
  <div id="accordion">
    <div class="card notes">
      <div class="card-header" style="text-align: center;">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Quick notes
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body" style="background-color: white;padding: 0.25rem;">
          <textarea style="height:150px;width:100%;position:relative" [(ngModel)]="notes" name="notes"> </textarea>
        </div>
      </div>
    </div>


  </div>
  </div>
  <button (click)="getTimer()" id="getTime" hidden>Check timer</button>
  <button (click)="pickUpTimeFunc()" id="pickUpTime" hidden>Pick up Time</button>
  <button (click)="callEndTimeFunc()" id="callEndTime" hidden>Call End Time</button>

  <button (click)="HangUp()" hidden>Call Terminate</button>
  <button (click)="getTalkTime()" id="startTime" hidden>Start Time</button>
  <button (click)="end()" id="endTime" hidden>End time</button>
  <button (click)="feedBack()" id="feedBack" hidden>FeedBack</button>
  <button (click)="clearTime()" id="clearTime" hidden>ClearTime</button>
