
<div class="center">

<mat-card class="mat-card md-elevation-z5">
    <div class="form-division">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form" >
    <mat-card-header style="display: inline;padding:2%">
      <mat-card-title><h3 style="color:primary;text-align:center">Feedback</h3></mat-card-title>
      <!-- <mat-divider></mat-divider> -->
    </mat-card-header>
    <mat-card-content>
       
        <!-- <form class="example-form"> -->
  
          <h4>Title</h4>
            <mat-form-field class="example-full-width" [color]="primary" appearance="outline">
              <input matInput placeholder="Favorite food" formControlName="title" style="font-size: 1.2rem;">
            </mat-form-field>
            <mat-error *ngIf="!formGroup.controls['title'].valid && formGroup.controls['title'].touched">
                {{ getErrorTitle() }}
              </mat-error>
            <h4>Comment</h4>
            <mat-form-field class="example-full-width"  [color]="primary" appearance="outline">
              <textarea matInput placeholder="Leave a comment"  formControlName="note" style="height:200px;font-size: 1rem" ></textarea>
            </mat-form-field>
            <mat-error *ngIf="!formGroup.controls['note'].valid && formGroup.controls['note'].touched">
                {{ getErrorNote() }}
              </mat-error>
         
     
   
    </mat-card-content>
    <mat-card-actions style="text-align:center">
      <!-- <button mat-raised-button  color="primary" style="padding:0% 7%">Submit</button> -->
      <button mat-raised-button color="primary" type="submit" class="button">Submit Form</button>
    </mat-card-actions>
  </form>
</div>
  </mat-card>
</div>